<div class="container p-4">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/links/add" method="POST">
                        <h3>Datos del empleo:</h3>

                        <div class="form-group">
                            <label>Titulo del empleo</label>
                            <input type="text" name="titulo" class="form-control" placeholder="Titulo breve pero especifico"
                                autofocus>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Ciudad</label>
                            <select class="form-control" name="ubicacion">

                                {{#each ciudad }}

                                <option>{{nombreciudad}}</option>


                                {{/each}}


                            </select>

                        </div>

                        <div class="form-group md-4">
                            <label for="exampleFormControlSelect1">Categoria</label>
                            <select class="form-control" name="categoria">

                                {{#each categoria }}

                                <option>{{nombre}}</option>


                                {{/each}}


                            </select>
                        </div>

                        <label>Tipo de contrato del empleo</label>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="exampleFormControlSelect1">Jornada</label>
                                <select class="form-control" name="tipojornada">
                                    <option>Tiempo completo</option>
                                    <option>Medio tiempo</option>
                                    <option>Otros</option>
                                </select>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="exampleFormControlSelect1">Periodo</label>
                                <select class="form-control" name="tipoperiodo">
                                    <option>Temporal</option>
                                    <option>Indefinido</option>
                                    <option>Otros</option>
                                </select>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="exampleFormControlSelect1">Contrato</label>
                                <select class="form-control" name="tipocontrato">
                                    <option>Por contrato</option>
                                    <option>Beca/pasantia</option>
                                    <option>Por horas</option>
                                    <option>Otros</option>

                                </select>
                            </div>


                        </div>

                        <div class="form-group">
                            <label>Sueldo</label>
                            <input type="text" name="salario" class="form-control" placeholder="Ejemplo: 5.000,00 /mes">
                        </div>
                        <div class="form-group">
                            <label>Descripcion del empleo</label>
                            <textarea name="descripcion" rows="3" class="form-control" placeholder="Describa las responsibilidades y las funciones que tendra el candidato"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Experiencia </label>
                            <input type="text" name="experiencia" class="form-control" placeholder="Ejemplo:  1 año  en  Cocina   /Deseable o Necesario">
                        </div>
                        <div class="form-group">
                            <label>Telefono </label>
                            <input type="tel" name="telefono" class="form-control" placeholder="Ejemplo:  +591 65558058">
                        </div>

                        <div class="form-group">
                            <label>Fecha limite de postulacion</label>
                            <input type="date" name="fechapresentacion" class="form-control" placeholder="">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>